:root {
    --dark-0: #1a1a21;
    --dark-1:  #282833;
    --dark-2: #282832;
    --dark-3: #32323e;
    --dark-4: #3f3f4a;
    --dark-5: #3f3f4a;
    --dark-6: #7a7a82;
    --dark-7: #99999f;
    --dark-8: #99999f;
    --secondary-color: #BB86FC;
    --secondary-variant: #3700B3;
    --primary-color: #52e3c2;
    --error-color: #f27362;
    --light-text: #FFFFFF;
    --dark-text: #99999f;
    --font: 'Lato', sans-serif;
}

body {
    background-color: var(--dark-3);
    color: var(--light-text);
    font-family: var(--font);
}

h1 {
    font-size: 54px;
}

input {
    background-color: var(--dark-5);
    font-size: 18px;
    color: var(--light-text);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: none;
    border: none;
    margin: 4px;
    font-family: var(--font);
}

::placeholder {
    color: var(--dark-text);
    opacity: 1;
}
.item {
    list-style-type: none;
    width: 60vw;
    font-size: 18px;
}

#submit {
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 5px;
    margin: 4px;
    border: none;
    color: var(--dark-1);
    font-size: 18px;
    font-family: var(--font);
}
.checkbox {
    margin-right: 15px;
    cursor: pointer;
    background-color: var(--primary-color);
}

.pageCount {
    margin-left: 30px;
}

.delete {
    float: right;
    border: none;
    outline: none;
    color: var(--error-color);
    background-color: var(--dark-3);
    margin-left: 15px;
    cursor: pointer;
    height: 12px;
}

.star-rating {
    float: right;
}
.star-rating button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    color: var(--primary-color);
  }
  .off {
    color: var(--dark-text);
  }